* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-wrap: normal;
  overflow:scroll;
  overflow-x: hidden;
  font-family: 'Unbounded', cursive;
}

.main{
  width: 100vw;
  color: black;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;

}

main{
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 99;
  left: 50%;
  top: 50%;
  width: 100vw;
  color: black;
  width: 100;
  margin: 0px auto;
  padding: 120px 0px;
  display: grid;
}

.webgl{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  color: black;
  z-index: 2;
  position: relative;
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.title{
  color: black;
  z-index: 2;
  position: absolute;
  font-weight:lighter;
  font-size: 3rem;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -75%)
}
