* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas{
  position: fixed;
  top: 0;
  left: 0;
}

body,
html {
  overflow-wrap: normal;
  overflow:scroll;
  overflow-x: hidden;
  font-family: 'Unbounded', cursive;
}

blockquote{
  margin:75px 75px 100px
}

section{
  margin: 0px 100px 100px
}

/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration: none;
}

/* selected link */
a:active {
  color: black;
  text-decoration: none;
}

.hyperlink:link{
  text-align: left;
}

.hyperlink:visited{
  text-align: left;
}

.hyperlink:hover{
  text-align: left;
}

.hyperlink:active{
  text-align: left;
}

.main{
  color: black;
  z-index: 99;
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 0px auto;
  top: 70%;
  padding: 120px 0px;
  
  display: grid;

}

.section-title{
  text-align:right;
  margin: 0px 0px 0px
}

.header-hyperlink{
  text-align:right;
}

.section-content{
  font-family: 'Chivo Mono', monospace;
  text-align:left;
  margin: 0px 0px 0px
}

.webgl{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  color: black;
  z-index: 2;
  position: relative;
  padding: 2rem 1rem;
  display: flex;
  justify-content:space-around;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: .8rem;
}

.title{
  color: black;
  z-index: 2;
  position: absolute;
  font-weight:400;
  font-size: 28px;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -75%)
}

#icon{
  width: 24px;
  height: 24px;
  cursor: pointer;
}

