* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas{
  position: fixed;
  top: 0;
  left: 0;
}

body,
html {
  overflow-wrap: normal;
  overflow:scroll;
  overflow-x: hidden;
  font-family: 'Unbounded', cursive;
}

blockquote{
  margin:75px 75px 100px
}

section{
  margin: 0px 100px 100px
}

.main{
  color: black;
  text-shadow: 0px 0px 5px pink,0px 0px 5px cyan;
  z-index: 99;
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 0px auto;
  top: 70%;
  padding: 120px 0px;
  
  display: grid;

}

.textsection{
  /* background-color: whitesmoke;
  border-radius: 12px;
  outline:none; */
}

.webgl{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  color: black;
  z-index: 2;
  position: relative;
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.title{
  color: black;
  z-index: 2;
  position: absolute;
  font-weight:lighter;
  font-size: 3rem;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -75%)
}
